DATABASE_URL=postgresql://reachinbox:reachinbox@localhost:5432/reachinbox
REDIS_URL=redis://localhost:6379
ETHEREAL_HOST=smtp.ethereal.email
ETHEREAL_PORT=587
ETHEREAL_USER=
ETHEREAL_PASS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/api/auth/google/callback
FRONTEND_URL=http://localhost:3000
PORT=4000
JWT_SECRET=change-me-super-secret
MAX_EMAILS_PER_HOUR=50
WORKER_CONCURRENCY=5
DELAY_BETWEEN_SENDS_MS=1000
